<div class="col-12">

  <div class="card">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <app-input-search (word)="search($event)"></app-input-search>
    <div *ngIf="isShowForm">
      <input placeholder="Nhap ten" [(ngModel)]="name">
      <input placeholder="Nhap email" [(ngModel)]="email">
      <input placeholder="Nhap address" [(ngModel)]="address">
      <input placeholder="Nhap so dien thoai" [(ngModel)]="phone">
      <button (click)="addUsers();">Them moi Users</button>
    </div>
    <div>
      <button (click)="isShowForm = true" *ngIf="!isShowForm">Them moi Users</button>
    </div>

    <table class="table">
      <thead>

      <tr>
        <th scope="col">STT</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of userList , index as i">
        <td>{{i + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address}}</td>
        <td>{{user.phone}}</td>
        <td>
          <button (click)="removeUsers(i)" class="btn btn-danger">Xoa</button>
        </td>
        <!--        <td>-->
        <!--          <button (click)="toggleEdit(i)" class="btn btn-outline-success my-2 my-sm-0" [hidden]="!user.hide">Sua</button>-->
        <!--        </td>-->
        <!--        <td>-->
        <!--          <div [hidden]="user.hide">-->
        <!--            <div class="form-group">-->
        <!--              <label>Name</label>-->
        <!--              <input type="text" class="form-control" id="name" aria-describedby="name" [ngModel]="name">-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div class="form-group">-->
        <!--            <label>Email</label>-->
        <!--            <input type="text" class="form-control" id="email" aria-describedby="email" [ngModel]="email">-->
        <!--          </div>-->
        <!--          <div class="form-group">-->
        <!--            <label>Address</label>-->
        <!--            <input type="text" class="form-control" id="address" aria-describedby="Address" [ngModel]="address">-->
        <!--          </div>-->
        <!--          <div class="form-group">-->
        <!--            <label>Phone</label>-->
        <!--            <input type="text" class="form-control" id="phone" aria-describedby="phone" [ngModel]="phone">-->
        <!--          </div>-->
        <!--          <button type="submit" class="btn -btn-primary" (click)="user.hide = true">Submit</button>-->
        <!--        </td>-->
        <!--      </tr>-->

      </tbody>
    </table>
    <div class="card-body">

    </div>
  </div>


</div>

